<p style="color: green"><%= notice %></p>

<h1 class="heading text-center mb-4">Home</h1>

<%= render "form", tweet: @tweet, user: current_user if user_signed_in?%>

<% @tweets.each do |tweet| %>
  <%= render tweet %>
<% end %>
